{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>EACare</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/line-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome5-overrides.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Article-List.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Contact-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Customizable-Carousel-swipe-enabled.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Features-Boxed.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Footer-Basic.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/gradient-navbar-1.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/gradient-navbar.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Highlight-Blue.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/Pretty-Footer.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Team-Boxed.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Testimonials.css' %}">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-md sticky-top" id="app-navbar">
        <div class="container-fluid"><a class="navbar-brand" data-bs-hover-animate="rubberBand" href="/" style="font-size: 30px;">EACare&nbsp;<i class="fas fa-ambulance" id="brand-logo" style="font-size: 30px;"></i></a><button data-toggle="collapse" class="navbar-toggler"
                data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#" style="color: rgba(0,0,0,0.5);font-size: 20px;">HOTLINE NO. FOR MEDICAL EMERGENCIES</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#" style="color: rgba(0,0,0,0.5);font-size: 20px;">*1800 2457 2345</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="jumbotron" style="background-image: url('{% static "assets/img/T2.jpg" %}');background-position: center;background-repeat: repeat;height: 400px;">
        <h1 class="text-center text-black-50" data-bs-hover-animate="flash" style="background-position: center;padding: 1px;">&nbsp; About Us</h1>
        <p></p>
    </div>
    <div class="testimonials-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-center" style="font-size: 45px;line-height: 26px;">Why EACare?</h2>
            </div>
            <div class="row people">
                <div class="col-md-4 col-lg-3 offset-lg-0 item" data-bs-hover-animate="pulse">
                    <div data-bs-hover-animate="pulse" class="box">
                        <p class="description">EA Care is a cloud based platform, which connects people facing a medical emergency with<strong>&nbsp;</strong>validated first responders via website or phone call.<br></p>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 item" data-bs-hover-animate="pulse">
                    <div data-bs-hover-animate="pulse" class="box">
                        <p class="description">The vision of EA Care is to make emergency response available to anyone, anytime, anywhere – with just one tap on a mobile phone, across India by 2024.<br></p>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 offset-lg-0 item" data-bs-hover-animate="pulse">
                    <div data-bs-hover-animate="pulse" class="box">
                        <p class="description">Currently the service is available in top 3 cities in Maharashtra which includes : Mumbai , Navi Mumbai and Thane.<br><br></p>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 item" data-bs-hover-animate="pulse">
                    <div data-bs-hover-animate="pulse" class="box">
                        <p class="description" style="line-height: 20px;">The network aggregates existing emergency medical resources which include – Ambulances and other medically certified and trained volunteers who are validated and verified.<br></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center team-boxed">
        <div class="container" style="padding: 19px;background-image: url('{% static "assets/img/T2.jpg" %}');background-size: cover;background-position: center;">
            <div class="intro" style="padding: 0px;">
                <h2 class="text-center text-white-50" data-bs-hover-animate="flash" style="margin: 20px;padding: 10px;height: 72px;font-size: 45px;color: rgb(255,255,255);">TEAM</h2>
                <p class="text-center">We created this website as a college project for our academic term of 2nd year.</p>
            </div>
            <div class="row people">
                <div class="col-md-6 col-lg-4 offset-lg-2 item">
                    <div class="box" style="background-color: rgb(34,41,114);"><img class="rounded-circle" data-bs-hover-animate="bounce" src="{% static 'assets/img/R.jpg' %}">
                        <h4 class="text-white-50 name">Rishikesh Jadhav</h4>
                        <p class="text-white title">SE IT - A (20)</p>
                        <p class="description"></p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="text-body box" style="background-color: rgb(34,41,114);"><img class="rounded-circle" data-bs-hover-animate="bounce" src="{% static 'assets/img/S.jpg' %}">
                        <h3 class="text-white-50 name">Swaraj Kale</h3>
                        <p class="text-white title">SE IT - A (26)</p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 offset-lg-2 item">
                    <div class="box" style="background-color: rgb(34,41,114);"><img class="rounded-circle" data-bs-hover-animate="bounce" src="{% static 'assets/img/RK.jpg' %}">
                        <h3 class="text-white-50 name">Rutuja Kapse</h3>
                        <p class="text-white title">SE IT - A (29)</p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="box" style="background-color: rgb(34,41,114);"><img class="rounded-circle" data-bs-hover-animate="bounce" src="{% static 'assets/img/deep.jpg' %}">
                        <h3 class="text-white-50 name">Deep Patel</h3>
                        <p class="text-white title">SE IT - A (42) [LEADER]</p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-basic">
        <footer class="text-dark" style="background-color: rgb(19,208,213);">
            <div class="text-black-50 social"><a href="https://www.instagram.com/" target="_blank"><i class="icon ion-social-instagram"></i></a><a href="https://www.snapchat.com/" target="_blank"><i class="icon ion-social-snapchat"></i></a><a href="https://twitter.com/login" target="_blank"><i class="icon ion-social-twitter"></i></a>
                <a
                    href="https://www.facebook.com/" target="_blank"><i class="icon ion-social-facebook"></i></a>
            </div>
            <ul class="list-inline">
                <li class="list-inline-item"><a data-bs-hover-animate="flash" href="/">Home</a></li>
                <li class="list-inline-item"><a data-bs-hover-animate="flash" href="\about\about">About Us&nbsp;</a></li>
                <li class="list-inline-item"><a data-bs-hover-animate="flash" href="\contact\contact">Contact Us</a></li>
                <li class="list-inline-item"><a data-bs-hover-animate="flash" href="\terms\terms">Terms</a></li>
            </ul>
            <p class="text-black-50 copyright">EAC © 2020</p>
        </footer>
    </div>
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/smart-forms.min.js' %}"></script>
    <script src="{% static 'assets/js/bs-init.js' %}"></script>
</body>

</html>