{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>EACare</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/line-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome5-overrides.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Article-List.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Contact-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Customizable-Carousel-swipe-enabled.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Features-Boxed.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Footer-Basic.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/gradient-navbar-1.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/gradient-navbar.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Highlight-Blue.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/Pretty-Footer.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Team-Boxed.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Testimonials.css' %}">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-md sticky-top" id="app-navbar">
        <div class="container-fluid"><a class="navbar-brand" data-bs-hover-animate="rubberBand" href="/" style="font-size: 30px;">EACare&nbsp;<i class="fas fa-ambulance" id="brand-logo" style="font-size: 30px;"></i></a><button data-toggle="collapse" class="navbar-toggler"
                data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#" style="color: rgba(0,0,0,0.5);font-size: 20px;">HOTLINE NO. FOR MEDICAL EMERGENCIES</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#" style="color: rgba(0,0,0,0.5);font-size: 20px;">*1800 2457 2345</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        <div class="jumbotron border rounded border-dark shadow" style="background-image: url('{% static "assets/img/H3.jpg" %}');font-size: 4;background-position: top;background-size: cover;background-repeat: no-repeat;padding: 100px;margin: -1px;height: 600px;">
            <h1 class="text-center text-white-50" style="font-size: 50px;background-position: center;padding: 10px;padding-top: 110px;">EMERGENCY HELP</h1>
            <p class="text-center text-white-50" style="font-size: 25px;">FAST EASY AND RELIABLE</p>
            <p class="text-center" style="padding: 0px;font-size: 16px;"><a class="btn btn-primary text-dark border-dark" role="button" data-bs-hover-animate="rubberBand" href="book/book" style="background-color: rgb(231,221,220);opacity: 0.69;font-size: 20px;">BOOK AMBULANCE</a></p>
        </div>
    </div>
    <div class="highlight-blue" style="background-color: rgb(255,255,255);">
        <div class="container" data-bs-hover-animate="pulse" style="background-color: #2db3dd;height: 300px;padding: 3px;">
            <div class="intro">
                <h1 class="text-center" style="font-size: 50px;height: 120px;padding: 10px;"><strong>Emergency Services</strong></h1>
                <p class="text-center text-light" style="font-size: 17px;padding: 30px;max-width: 1000px;"><strong>EACare provides a comprehensive solution to emergency situations wherein you can instantly call an Ambulance anywhere.</strong><br></p>
            </div>
        </div>
    </div>
    <div class="features-boxed">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">FEATURES</h2>
                <p class="text-center">EACare is the best Ambulance provider. EAC services are available in Mumbai, Navi Mumbai, Thane</p>
            </div>
            <div class="row justify-content-center features">
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-flash icon" data-bs-hover-animate="swing"></i>
                        <h3 class="name">Fast</h3>
                        <p class="description"><br>In-case of emergencies, we connect you to the right medical resource, instantly<br><br></p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-map-marker icon" data-bs-hover-animate="swing"></i>
                        <h3 class="name">Works everywhere</h3>
                        <p class="description">EAC has a network of verified Ambulances across Mumbai, Navi Mumbai and Thane that includes Basic, Cardiac, Neonatal and Hearse Ambulances<br></p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-clock-o icon" data-bs-hover-animate="swing"></i>
                        <h3 class="name">Always available</h3>
                        <p class="description"><br>Local or outstation Ambulance booking is accessible via 24*7 customer care<br><br></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="article-list">
        <div class="container" style="background-image: url('{% static "assets/img/H1.jpg" %}');background-position: center;background-size: cover;">
            <div class="intro">
                <h2 class="text-center text-light">TYPES OF AMBULANCE</h2>
                <p class="text-center" style="color: rgb(255,255,255);font-size: 20px;">EACare provides a wide range of Ambulances for both Emergency and Non-Emergency transfers<br></p>
            </div>
            <div class="row articles">
                <div class="col-sm-6 col-md-4 offset-lg-2 item"><i class="la la-ambulance" data-bs-hover-animate="tada" style="height: 16px;font-size: 100px;color: rgb(255,255,255);"></i>
                    <h3 class="name" style="color: rgb(255,255,255);font-size: 20px;">Basic Life Support (BLS)</h3>
                    <p class="description" style="color: rgb(255,255,255);font-size: 20px;"><br>Standard Size Ambulance ideal for non emergency patient transfer<br></p>
                </div>
                <div class="col-sm-6 col-md-4 item"><i class="la la-plus-circle" data-bs-hover-animate="tada" style="font-size: 100px;color: rgb(255,255,255);"></i>
                    <h3 class="name" style="font-size: 20px;color: rgb(255,255,255);">Basic Life Support (BLS) Plus</h3>
                    <p class="description" style="color: rgb(255,255,255);font-size: 20px;"><br>Larger size Ambulance ideal for non-emergency patient transfers<br><br></p>
                </div>
                <div class="col-sm-6 col-md-4 offset-lg-2 item"><i class="la la-adn" data-bs-hover-animate="tada" style="font-size: 100px;color: rgb(255,255,255);"></i>
                    <h3 class="name" style="font-size: 20px;color: rgb(255,255,255);">Advance Life Support (ALS)</h3>
                    <p class="description" style="color: rgb(255,255,255);font-size: 20px;"><br>Large size Ambulance ideal for critically ill patients<br><br></p>
                </div>
                <div class="col-sm-6 col-md-4 offset-lg-0 item"><i class="la la-h-square" data-bs-hover-animate="tada" style="font-size: 100px;color: rgb(255,255,255);"></i>
                    <h3 class="name" style="font-size: 20px;color: rgb(255,255,255);">Hearse Van</h3>
                    <p class="description" style="color: rgb(255,255,255);font-size: 20px;"><br>Dead body transfers along with undertaking services available across India<br><br></p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-basic">
        <footer class="text-dark" style="background-color: rgb(19,208,213);">
            <div class="text-black-50 social"><a href="https://www.instagram.com/" target="_blank"><i class="icon ion-social-instagram"></i></a><a href="https://www.snapchat.com/" target="_blank"><i class="icon ion-social-snapchat"></i></a><a href="https://twitter.com/login" target="_blank"><i class="icon ion-social-twitter"></i></a>
                <a
                    href="https://www.facebook.com/" target="_blank"><i class="icon ion-social-facebook"></i></a>
            </div>
            <ul class="list-inline">
                <li class="list-inline-item"><a data-bs-hover-animate="flash" href="/">Home</a></li>
                <li class="list-inline-item"><a data-bs-hover-animate="flash" href="about/about">About Us&nbsp;</a></li>
                <li class="list-inline-item"><a data-bs-hover-animate="flash" href="contact/contact">Contact Us</a></li>
                <li class="list-inline-item"><a data-bs-hover-animate="flash" href="terms/terms">Terms</a></li>
            </ul>
            <p class="text-black-50 copyright">EAC © 2020</p>
        </footer>
    </div>
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/smart-forms.min.js' %}"></script>
    <script src="{% static 'assets/js/bs-init.js' %}"></script>
</body>

</html>