{% load static %}
<!DOCTYPE html>
<html style="height: 450px;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>EACare</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/line-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome5-overrides.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Article-List.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Contact-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Customizable-Carousel-swipe-enabled.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Features-Boxed.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Footer-Basic.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/gradient-navbar-1.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/gradient-navbar.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Highlight-Blue.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/Pretty-Footer.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Team-Boxed.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Testimonials.css' %}">
</head>

<body style="height: none;">
    <nav class="navbar navbar-dark navbar-expand-md sticky-top" id="app-navbar">
        <div class="container-fluid"><a class="navbar-brand" data-bs-hover-animate="rubberBand" href="/" style="font-size: 30px;">EACare&nbsp;<i class="fas fa-ambulance" id="brand-logo" style="font-size: 30px;"></i></a><button data-toggle="collapse" class="navbar-toggler"
                data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#" style="color: rgba(0,0,0,0.5);font-size: 20px;">HOTLINE NO. FOR MEDICAL EMERGENCIES</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#" style="color: rgba(0,0,0,0.5);font-size: 20px;">*1800 2457 2345</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="jumbotron text-white-50" style="height: 499px;background-image: url('{% static "assets/img/L.jpg" %}');background-position: center;background-size: cover;">
        <h1 class="text-center text-white-50" data-bs-hover-animate="flash">Legal</h1>
    </div>
    <div class="container">
        <h1 class="text-center">Terms and Conditions</h1>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>This Terms and Conditions (“Terms”) set forth the terms and conditions of EA Care a website, owned by XYZ. PLEASE READ THIS TERMS AND CONDITIONS CAREFULLY BEFORE USING THE WEBSITE. YOU WILL BE REQUIRED TO ACCEPT THIS TERMS AND CONDITIONS
                        IN ORDER TO USE THE SERVICES PROVIDED BY THIS WEBSITE.<br></p>
                </div>
                <div class="col-md-6">
                    <p>THE INFORMATION CONTAINED IN OR PROVIDED THROUGH THE WEBSITE ARE PROVIDED “AS IS” AND “AS AVAILABLE” WITH NO WARRANTIES WHATSOEVER. YOUR USE OF THE WEBSITE IS VOLUNTARY, AT YOUR OWN FREE WILL AND AT YOUR SOLE RISK.<br></p>
                </div>
                <div class="col">
                    <p>By using the website you agree that you have read and understood the Terms and agree to be bound by them. IF YOU DO NOT AGREE TO BE BOUND BY THESE TERMS, PLEASE EXIT THIS PAGE AND REFRAIN FROM ANY FURTHER USE OF OR ACCESS TO THE WEBSITE,
                        AND DELETE ANY COPIES OF THE WEBSITE IN YOUR POSSESSION OR CONTROL. When using or accessing the Website, you agree that you must comply with any guidelines, rules, terms and conditions applicable to such use or access that are
                        posted by us, which are hereby incorporated by reference into these Terms, and with any applicable third-party terms of agreement.<br></p>
                </div>
                <div class="col">
                    <p>We may modify these Terms at any time by posting the revised Terms on the&nbsp; Site. You can determine when this Agreement was last revised by referring to the “LAST UPDATED” legend at the top of these Terms. Any modifications will
                        be effective immediately upon such posting. Your use of or access to the Website after such modifications are posted will signify your acceptance of the modifications and your agreement to be bound by them. Notwithstanding the
                        foregoing, any modifications to these Terms shall not apply to any dispute between us arising prior to the date on which we post the revised Terms that contain such modifications.<br></p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-lg-6">
                    <p>We reserve the right, at any time and from time to time, temporarily or permanently, in whole or in part, to: modify, suspend or discontinue the Website; charge fees in connection with the use of the Website; modify and / or waive
                        any fees charged in connection with the Website; and / or offer opportunities to some or all users of the Website. You agree that neither we nor any of our affiliates or any of our associates shall be liable to you or to any third
                        party for any modification, suspension or discontinuance of the Website, in whole or in part, or of any service, content, feature or product offered through the Website.<br></p>
                </div>
                <div class="col-md-3 col-lg-6 offset-lg-0">
                    <p>IMPORTANT DISCLAIMER: THIS WEBSITE OR CONTENT THEREIN IS NOT A SUBSTITUTE FOR PROFESSIONAL HEALTH CARE OR MEDICAL CARE OR HEALTH CARE ADVICE OR MEDICAL CARE ADVICE OR FOR EMERGENCY RESPONSE BY STATUTORY AUTHORITIES OR LAW ENFORCEMENT
                        AGENCIES OR DISASTER RELIEF EFFORTS OR ANY OTHER PROFESSIONAL ASSISTANCE IN ANY EMERGENCY.<br></p>
                </div>
                <div class="col-md-3 col-lg-12 offset-lg-0">
                    <p>The Website is administered by EACare, a company registered in India and having its registered office at, India . The User shall sign in to the website subject to the terms and conditions set forth and/or designated by EACare.<br></p>
                </div>
                <div class="col-md-3 col-lg-12 offset-lg-0">
                    <p>THE EMERGENCY, MEDICAL, SAFETY AND SECURITY RELATED INFORMATION AVAILABLE THROUGH THE WEBSITE IS GENERAL IN NATURE AND IS NOT A SUBSTITUTE FOR PROFESSIONAL HEALTH CARE OR MEDICAL CARE OR HEALTH CARE ADVICE OR MEDICAL CARE ADVICE OR
                        FOR EMERGENCY RESPONSE BY STATUTORY AUTHORITIES OR LAENFORCEMENT AGENCIES OR DISASTER RELIEF EFFORTS OR ANY OTHER PROFESSIONAL ASSISTANCE IN ANY EMERGENCY. IT IS PROVIDED FOR INFORMATIONAL PURPOSES ONLY AND IS NOT INTENDED, AND
                        SHOULD NOT BE USED, TO REPLACE THE ADVICE OF OR CARE OF HEALTHCARE PROFESSIONALS AND / OR MEDICAL PROFESSIONALS AND / OR LAW ENFORCEMENT PROFESSIONALS AND / OR EMERGENCY MEDICAL RESPONSE AND / OR EMERGENCY RESPONSE AND / OR DISASTER
                        RELIEF. YOU ARE SOLELY RESPONSIBLE FOR YOUR RELIANCE ON THE WEBSITE AND THE HEALTH, MEDICAL, SAFETY, SECURITY, DISASTER RELIEF AND EMERGENCY RELATED INFORMATION AND / OR ACTIONS AND / OR SERVICES AVAILABLE THROUGH THE WEBSITE,
                        AND FOR ALL DECISIONS OR ACTIONS RESULTING FROM YOUR USE OF THE WEBSITE AND ITS CONTENT, INCLUDING BUT NOT LIMITED TO ANY DECISION NOT TO SEEK OR REFRAIN FROM SEEKING ANY DIAGNOSIS OR TREATMENT OR CARE OR CALLING FOR ANY SERVICE
                        INCLUDING EMERGENCY MEDICAL RESPONSE SERVICE AND / OR EMERGENCY SERVICE AND / OR DISASTER RELIEF SERVICE. YOU ARE ALSO SOLELY RESPONSIBLE FOR YOUR DECISION TO USE THE SERVICES OF ANY PARTICULAR THIRD PARTY PROVIDER THROUGH THE
                        WEBSITE. IF YOU HAVE SPECIFIC HEALTH CARE OR MEDICAL NEEDS, OR FOR COMPLETE HEALTH AND / OR MEDICAL INFORMATION, PLEASE SEE A DOCTOR AUTHORISED BY THE LAW AND REGULATIONS IN YOUR AREA AND IN CASE OF EMERGENCY RESPONSE, PLEASE CALL
                        INSTITUTIONAL EMERGENCY RESPONSE SYSTEMS INSTITUTED BY THE GOVERNMENTS AND / OR OTHER AUTHORITIES AUTHORISED TO RESPOND UNDER THE LAWS AND REGULATIONS PREVAILING IN THE AREA WHERE YOU ARE SEEKING EMERGENCY RESPONSE.<br></p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-basic">
        <footer class="text-dark" style="background-color: rgb(19,208,213);">
            <div class="text-black-50 social"><a href="https://www.instagram.com/" target="_blank"><i class="icon ion-social-instagram"></i></a><a href="https://www.snapchat.com/" target="_blank"><i class="icon ion-social-snapchat"></i></a><a href="https://twitter.com/login" target="_blank"><i class="icon ion-social-twitter"></i></a>
                <a
                    href="https://www.facebook.com/" target="_blank"><i class="icon ion-social-facebook"></i></a>
            </div>
            <ul class="list-inline">
                <li class="list-inline-item"><a data-bs-hover-animate="flash" href="/">Home</a></li>
                <li class="list-inline-item"><a data-bs-hover-animate="flash" href="/about/about">About Us&nbsp;</a></li>
                <li class="list-inline-item"><a data-bs-hover-animate="flash" href="/contact/contact">Contact Us</a></li>
                <li class="list-inline-item"><a data-bs-hover-animate="flash" href="/terms/terms">Terms</a></li>
            </ul>
            <p class="text-black-50 copyright">EAC © 2020</p>
        </footer>
    </div>
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/smart-forms.min.js' %}"></script>
    <script src="{% static 'assets/js/bs-init.js' %}"></script>
</body>

</html>